.peerConnectionState-new {
  color: cornflowerblue;
}
.peerConnectionState-connecting {
  color: orange;
}
.peerConnectionState-connected {
  color: green;
}
.peerConnectionState-disconnected,
.peerConnectionState-closed,
.peerConnectionState-failed {
  color: red;
}

.iceConnectionState-new {
  color: cornflowerblue;
}
.iceConnectionState-checking {
  color: orange;
}
.iceConnectionState-connected,
.iceConnectionState-completed {
  color: green;
}
.peerConnectionState-disconnected,
.peerConnectionState-closed,
.peerConnectionState-failed {
  color: red;
}

.iceGatheringState-new {
  color: cornflowerblue;
}
.iceGatheringState-gathering {
  color: orange;
}
.iceGatheringState-complete {
  color: black;
}

.signalingState-stable {
  color: green;
}
.signalingState-have-local-offer,
.signalingState-have-remote-offer,
.signalingState-have-local-pranswer,
.signalingState-have-remote-pranswer {
  color: cornflowerblue;
}
.signalingState-closed {
  color: red;
}

.streamingState-streaming {
  color: green;
}

.streamingState-empty {
  color: grey;
}

/* added css from here */

body * {
  font-family: 'Mulish', sans-serif;
  text-align: center;
}

#content {
  /* width: 820px; */
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: 450px;
}

#buttons {
  clear: both;
  padding: 0 0 0 0;
  text-align: center;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin: 0 5px;
  background-color: #7459fe;
  color: #fff;
}

button#connect-button {
background-color: green;
}
button#destroy-button{
  background-color: red;
}

button:hover, #destroy-button:hover,#connect-button:hover {
  filter: brightness(85%);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

button[disabled] {
  background-color: gray;
}
button[disabled]:hover {
  background-color: gray;
  filter: unset;
}


textarea {
  border-radius: 5px;
  padding: 10px 20px;
  border: 2px solid #7459fe;
  font-size: 16px;
  margin: 0 5px;
}

#status {
  position: absolute;
  top: 0;
  left: 0;
  /* clear: both; */
  /* padding: 20px 0 0 0; */
  text-align: left;
  display: inline-block;
  zoom: 1;
  line-height: 140%;
  font-size: 15px;
}

#status div {
  padding-bottom: 10px;
}

#video-wrapper {
  /* height: 500px; */
  background-position: top;
}

#video-wrapper div {
  width: 400px;
  margin: 0 auto;
  /* padding: 50px 0 0 0; */

}

#msgHistory {
  overflow-y: auto;
  width: 50%;
height: 150px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  line-break: loose;
  border: 1px dashed;
}

video {
  display: block;
  border-radius: 50%;
  background-color: #526f7a;
  background-image: url(scarlett_still.png);
  background-position: top;
  background-size: contain;
  position: absolute;
}

.animated {
  animation: opacityAnimation 1s ease-in-out;
}

@keyframes opacityAnimation {
from { opacity: 1; }
to { opacity: 1; }
}

#video-element2{
  border: 2px solid red;
}